
<div class="row" style="min-height:500px;">
		<div class="col-md-3">
				
		</div>
		<div class="col-md-6">
			<div class="myForm" style="border:3px solid lightgrey;margin-top:50px;padding:20px;border-radius:20px;">
			<h3 class="text-center" id="login-header">Login</h3>
					<div class="form-group">
						<label for="name">Email</label>
						<input type="text" [(ngModel)]="userDetails.email" class="form-control"  placeholder="Enter Email" >
					 </div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" [(ngModel)]="userDetails.password" class="form-control"  placeholder="Enter Password" >
					 </div>
					 <button type="submit" class="btn btn-primary" (click)="loginUser()">Submit</button>			
			</div>
		</div>
		<div class="col-md-3">
			
		</div>
</div>
