

/*
Global Styles
*/
.padding20{
	padding:20px;
}


.nav-tab-container{
	border-bottom:1px solid lightgray;
	padding:0;
	margin:0;
}
.nav-tab-header{
	position:relative;
	float:left;
	width:100px;
	min-height:30px;
	text-align:center;
	border:1px solid lightgray;
	border-top:3px solid lightgray;
	padding:10px;
	margin:0px;
	margin-top:40px;
}
 .active{
	border-top:3px solid blue;
}

.header-container{
	height:80px;
	text-align:center;
	margin-top:20px;
}
.title{
	margin:0;
	padding:0;
	margin-top:8px;
	font-weight:normal;
	font-size:30px;
}
.header-top-text{
	font-size:30px;
}
.header-bottom-text{
	font-size:17px;
}
.header-lock{
	position:absolute;
	top:0px;
	right:50px;
	font-size:50px;
	margin-top:5px;
}

.section-header{
	text-align:left;
	margin-left:10px;
}


.table-image{
	position:relative;
	height:auto;
	width:auto;
	max-height:90px;
	max-width:90px;
	margin:auto;
}

.table-image-home{
	max-height:70px;
	max-width:70px;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}



/*
	Home Page Styling
*/
.left-home-container{
	min-height:calc(100vh - 100px);
}
.right-home-container{
	min-height:calc(100vh - 100px);
	margin-top:20px;
	padding:20px;
}
.right-home-container h3{
	text-align:center;
}

.top-left-home-container{
	position:relative;
	float:left;
	min-height:100px;
	width:100%;
}

.beer-container{
	position:relative;
	float:left;
	width:325px;
	height:430px;
	padding:5px;
	border-radius:10px;
	border:2px solid lightgrey;
	box-shadow: 2px 2px #888888;
	margin-left:calc(50% - 162.20px;);
}
.beer-container h3{
	padding:0px;
	margin-top:5px;
	margin:0px;
}
.beer-mug-container{
	position:relative;
	position:absolute;
	width:150px;
	height:150px;
	top:calc(100% - 152px);
	left:30px;
	border:6px solid lightgrey;
	border-top:0px solid transparent;
	z-index:99999;
}
.beer-mug-handle{
	position:relative;
	position:absolute;
	width:30%;
	height:80%;
	top:10%;
	left:100%;
	border:6px solid lightgrey;
	border-radius:0px 20px 20px 0px;
}

.beer-pourer-container{
	position:relative;
	position:absolute;
	width:150px;
	height:100px;
	top:100px;
	left:30px;
}
#beer-pourer-stem{
	position:relative;
	position:absolute;
	width:80px;
	height:30px;
	top:50px;
	left:0px;
	background:grey;
	z-index:9999;
	border-radius:0px 20px 20px 0px;
}
#beer-pourer-nozzle{
	position:relative;
	position:absolute;
	width:20px;
	height:20px;
	top:30px;
	left:40px;
	background:grey;
}

#beer-pour-from-tap{
	position:relative;
	position:absolute;
	width:20px;
	height:0px;
	top:20px;
	left:0px;
	background:orange;
}
#beer-pourer-handle{
	position:relative;
	position:absolute;
	width:30px;
	height:60px;
	top:0px;
	left:25px;
	background:black;
	border-radius:20px 20px 0px 0px;
	
}
#beer-pourer-handle:hover{
	cursor:pointer;
}

.transformHandle{
	 transform: rotate(-20deg);
}

#beer {
    width: 100%;
    height: 0px;
    background: orange;
    position :relative;
	z-index:99999;
}
.beer{
	-webkit-animation: pourbeer 5s forwards 2s; /* Safari 4.0 - 8.0 */
    animation: pourbeer 5s forwards 2s;
}
.beer-from-tap{
	-webkit-animation: pourbeerfromtap 2s forwards; /* Safari 4.0 - 8.0 */
    animation: pourbeerfromtap 2s forwards;
}

.reset-pourer{
	position:absolute;
	right:40px;
	top:100px;
	background:transparent;
	border-radius:3px;
	width:80px;
	height:30px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes pourbeer {
    from {top: 0px;height:0px;}
    to {top: 100%;height:100%;}
}

/* Standard syntax */
@keyframes pourbeer {
    from {top: 100%;height:0px;}
    to {top: 0px;height:100%;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes pourbeerfromtap {
    from {height:0px;}
    to {height:224px;}
}

/* Standard syntax */
@keyframes pourbeerfromtap {
    from {height:0px;}
    to {height:224px}
}

