<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
	<div class="col-md-12 header-container">
		<div class="row">
		<div class="col-md-4">

		 </div>
		<div class="col-md-4">
			<div class="row header-top-text">
				<div class="col-md-12">
					{{title}}
					<i class="fa fa-lock header-lock"></i>
				</div>
		    </div>
			<div class="row header-bottom-text">
				<div class="col-md-12">
					{{subTitle}}
				</div>
		    </div>
			
			
		</div>
		<div class="col-md-4">
			
		 </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
			
	</div>
	<div class="col-md-4 text-center" style="border-bottom:2px solid lightgrey;border-top:2px solid lightgrey;">
			<ul class="nav navbar-nav">
			  <li><a [routerLink]="['/home']">Home</a></li>
			  <li><a [routerLink]="['/beerlist']">Admin</a></li>
			  <li><a [routerLink]="['/login']">Login</a></li>
			</ul>
	</div>
	<div class="col-md-4">
		
	</div>
</div>
<div class="row">
	<div class="col-md-12">
<router-outlet></router-outlet>
</div>
</div>
<div class="row" style="border-top:1px solid lightgray;">
	<div class="col-md-12">
			<h1 class="text-center">Beer Locker</h1>
	</div>
</div>

