<div class="row">
	<div class="col-md-12 nav-tab-container">
		<div class="nav-tab-header" [ngClass]="{ 'active': listBeerView == true }" (click)="setTabView('listBeerView')">View Beers</div>
		<div class="nav-tab-header" [ngClass]="{ 'active': addBeerView == true }" (click)="setTabView('addBeerView')">Add Beer</div>
		<div *ngIf="editBeerView" class="nav-tab-header" [ngClass]="{ 'active': editBeerView == true }" (click)="setTabView('editBeerView')">Edit Beer</div>
	</div>
</div>
<div class="row tab-container">
<div class="col-md-12">
<div class="row" *ngIf="listBeerView">
	<h2 class="text-center section-header">Beer List</h2>
	<div class="col-md-12">
	<div class="table-responsive">
		<table class="table table-striped beerlist-table" [mfData]="beerList" #mf="mfDataTable" [mfRowsOnPage]="5" style="text-align:center">
			<thead>
			<tr>
				<th style="text-align:center">
					Image
				</th>
				<th style="text-align:center">
					<mfDefaultSorter by="name">Name</mfDefaultSorter>
				</th>
				<th style="text-align:center">
					<mfDefaultSorter by="type">Type</mfDefaultSorter>
				</th>
				<th style="text-align:center">
					<mfDefaultSorter by="comment">Comment</mfDefaultSorter>
				</th>
				<th style="text-align:center">
					<mfDefaultSorter by="quantity">Quantity</mfDefaultSorter>
				</th>
				<th style="text-align:center">
					<mfDefaultSorter by="rating">Rating</mfDefaultSorter>
				</th>
				<th style="text-align:center" >
					Actions
				</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let item of mf.data">
				<td><img class="table-image" src="http://softwarestudio.co.za/beerlocker/assets{{item.imagePath}}"/></td>
				<td>{{item.name}}</td>
				<td>{{item.type}}</td>
				<td>{{item.comment}}</td>
				<td>{{item.quantity}}</td>
				<td>{{item.rating}}</td>
				<td><button class="edit-beer-button" (click)="setUpdateBeer(item)">Edit &nbsp;&nbsp;<i class="fa fa-wrench"></i></button>&nbsp;<button class="edit-beer-button" (click)="submitDeleteBeer(item)">delete&nbsp;&nbsp;<i class="fa fa-times"></i></button></td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="4">
					<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
				</td>
			</tr>
			</tfoot>
		</table>
		</div>
	</div>
</div>
<div class="row" *ngIf="addBeerView">
	<div class="col-md-12">
		<h2 class="text-center section-header">Add New Beer</h2>
		<div class="myForm">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" [(ngModel)]="newBeer.name" class="form-control"  placeholder="Enter Name" >
		 </div>
		  <div class="form-group">
			<label for="description">Type</label>
			<input type="text" [(ngModel)]="newBeer.type" class="form-control" id="description" placeholder="Enter Type">
		  </div>
		   <div class="form-group">
			<label for="qauntity">Qauntity</label>
			<input [(ngModel)]="newBeer.quantity" type="number" min="0"  class="form-control" id="quantity" placeholder="Enter Qauntity">
		  </div>
		  <div class="form-group">
			<label for="qauntity">Rating</label>
			<input [(ngModel)]="newBeer.rating" type="number" min="0"  class="form-control" id="rating" placeholder="Enter Qauntity">
		  </div>
		   <div class="form-group">
			<label for="comment">Comment</label>
			<textarea [(ngModel)]="newBeer.comment" class="form-control" id="comment"></textarea>
		  </div>
		 <div class="form-group">
			<button type="submit" class="btn btn-primary" (click)="submitNewBeer()">Submit</button>&nbsp;&nbsp;
		    <button type="button" class="btn btn-primary" (click)="clearNewBeer()">Clear</button>	
		 </div>
		</div>
	</div>
</div>
<div class="row" *ngIf="editBeerView">
	<div class="col-md-12">
		<h2 class="text-center section-header">Edit Beer</h2>
		<div class="myForm">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" [(ngModel)]="editBeer.name" class="form-control"  placeholder="Enter Name" >
		  </div>
		  <div class="form-group">
			<label for="description">Type</label>
			<input type="text" [(ngModel)]="editBeer.type" class="form-control" id="description" placeholder="Enter Type">
		  </div>
		  <div class="form-group">
			<label for="qauntity">Qauntity</label>
			<input [(ngModel)]="editBeer.quantity" type="number" min="0"  class="form-control" id="qauntity" placeholder="Enter Qauntity">
		  </div>
		  <div class="form-group">
			<label for="qauntity">Rating</label>
			<input [(ngModel)]="editBeer.rating" type="number" min="0"  class="form-control" id="qauntity" placeholder="Enter Qauntity">
		  </div>
		   <div class="form-group">
			<label for="comment">Comment</label>
			<textarea [(ngModel)]="editBeer.comment" class="form-control" id="comment"></textarea>
		  </div>
		  
		  <input type="hidden" id="id"/>
		  <button type="submit" class="btn btn-primary" (click)="submitUpdateBeer()">Submit</button>&nbsp;&nbsp;
		  <button type="button" class="btn btn-primary" (click)="clearUpdateBeer()">Clear</button>		
		</div>
	</div>
</div>
</div>
</div>





