.beer-list-row{
 margin:0px; 
 padding:10px;
 font-size:16px;
 border:1px solid lightgray;
}

.beerlist-table{
	border-top:1px solid lightgrey;
	padding:0px !important;
	margin:0px !important;
}
.beerlist-table tr{
	height:55px;
}
.beerlist-table tr td{
	padding-top:15px;
}

.beerForm{
	position:relative;
	width:80%;
	margin-left:10%;
	border:1px solid lightgray;
	border-radius:10px;
	padding:10px;
}
.beerForm input{
	width:100%;
	height:30px;
}
.beerFormLabel{
	width:100%;
	height:30px;
	font-weight:bold;
	margin-top:5px;
}

.edit-beer-button{
	border:1px solid lightgrey;
	border-radius:5px;
	background:transparent;	
	height:30px;
}

.myForm{
	position:relative;
	width:80%;
	margin-left:10%;
	margin-top:10px;
	margin-bottom:20px;
}