<div class="row">
	<div class="col-md-4 col-sm-12 left-home-container">
		<div class="top-left-home-container">
		
		</div>
		<div class="beer-container">
		<h3 class="text-center">Pour A Beer<br><small class="">Click on the handle to start and stop.</small> </h3>
			<button class="reset-pourer" (click)="resetBeerPour()">Reset</button>
			<div class="beer-pourer-container">
				<div id="beer-pourer-stem">
					<div id="beer-pourer-nozzle">
						<div id="beer-pour-from-tap">
						
						</div>
					</div>
				</div>
				<div class="" id="beer-pourer-handle" (click)="toggleBeerPour()">
					
				</div>
			</div>
			<div class="beer-mug-container">
				<div class="beer-mug-handle">
					
				</div>
				<div id="beer"></div>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-sm-12 right-home-container">
		<h3>Check out our beers</h3>
		<div class="table-responsive">
		<table class="table beerlist-table" [mfData]="beerList" #mf="mfDataTable" [mfRowsOnPage]="5" style="width:100%;">
			<thead>
			<tr>
				<th style="">
					
				</th>
				<th style="">
					<mfDefaultSorter by="name">Name</mfDefaultSorter>
				</th>
				<th style="">
					<mfDefaultSorter by="type">Type</mfDefaultSorter>
				</th>
				<th style="">
					<mfDefaultSorter by="comment">Comment</mfDefaultSorter>
				</th>
				<th style="">
					<mfDefaultSorter by="rating">Rating</mfDefaultSorter>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let item of mf.data">
				<td><img class="table-image table-image-home" src="http://softwarestudio.co.za/beerlocker/assets{{item.imagePath}}"/></td>
				<td>{{item.name}}</td>
				<td>{{item.type}}</td>
				<td>{{item.comment}}</td>
				<td>{{item.rating}}</td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="4">
					<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
				</td>
			</tr>
			</tfoot>
		</table>
		</div>
	</div>
</div>
